.task__wrapper {
    cursor: grab;
    margin-bottom: 10px;
}
.task__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 25px;
}
.task__checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.custom-task__checkbox {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.task__checkbox:checked + .custom-task__checkbox {
    background: dodgerblue url("../../img/done.png") no-repeat center center;
        background-size: cover;
}
.task__input, .task {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
}
.task {
    padding: 6px 0;
}
.task.checked {
    text-decoration: line-through;
}
.task__children {
    margin-left: 30px;
}

.edit-btn {
    background: url("../../img/pencil.png") center center no-repeat;
    width: 20px;
    height: 20px;
}
.cancel-btn {
    background: url("../../img/cancel.png") center center no-repeat;
    width: 24px;
    height: 24px;
}
.delete-btn {
    background: url("../../img/delete.png") center center no-repeat;
    width: 24px;
    height: 24px;
}
.add-btn {
    background: url("../../img/add.png") center center no-repeat;
    width: 24px;
    height: 24px;
}
.btn {
    opacity: 0.7;
    cursor: pointer;
    margin-right: 5px;
    background-size: cover;
}

.btn:hover {
    opacity: 1;
}