.upload_btn {
    display: inline-block;
    background-color: teal;
    padding: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
#file {
    display: none;
}
.download_btn {
    display: inline-block;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0.7;
    margin-bottom: 10px;
}
.upload_btn:hover, .download_btn:hover {
    opacity: 1;
}
.header__block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
}
.header {
    margin-right: 10px;
}
.header__input {
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}
.search__block {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.search__input {
    padding: 5px;
    width: 400px;
    margin-right: 5px;
}
.search__input, .new-task-input {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.new-task-input {
    width: 300px;
    padding: 5px;
}